section{
    font-family: 'Poppins', sans-serif;
    padding: 5rem 0;
}

section:nth-child(2n){
    background-color:#f8f8f8;
}

section .abuout-self::after{
    content:'';
    clear:both;
    display:block;
}

section .title{
    margin-bottom: 3rem;
}

section .title h4{
    font-size: 1.35rem;
    color: #ed4848;
    position: relative;
}

section .title h2{
    font-size: 3.5rem;
}

section .title p{
    font-size: 1.15rem;
}

section .abuout-self .left{
    width: 50%;
    float: left;
}

section .abuout-self .left img{
    width: 100%;
}

section .abuout-self .right{
    width: 50%;
    float: left;
    padding: 0 2rem;
} 

section .abuout-self .right h3{
    font-size: 2.25rem;
    margin-bottom: 1rem;
}
section .abuout-self .right h3 strong{
    color:#ed4848;

}
section .abuout-self .right p{
    font-size: 1.15rem;
    margin: 1rem 0;
}

section .abuout-self .right .social a{
    font-size: 2.5rem;
    margin-right: 1.5rem;
}