selected .contact-me::after{
    content:'';
    display: block;
    clear: both;
}

section .contact-me .left{
    width: 30%;
    float: left;
}

section .contact-me .left .card{
    border: 1px solid #ccc;
    padding:1rem;
    display: flex;
    align-items: center;
    margin-bottom: 1.25rem;
}

section .contact-me .left .card .icon{
    font-size: 2rem;
    margin-right: 15px;
}

section .contact-me .right{
    width:65%;
    float: left;
    margin-left: 5%;
    border: 1px solid #ccc;
    padding: 1rem;
}

section .contact-me .right .from-group{
    margin-bottom: 1.25rem;
}

section .contact-me .right .from-group label{
    display:block;
    margin-bottom: 0.85rem;
}

section .contact-me .right .from-group input{
    width:100%;
    padding: 0.625rem;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 10px;
}

section .contact-me .right .from-group input:focus{
    border:1px solid #719ECE;
    box-shadow:0 0 10px #719ECE;
}

section .contact-me .right .from-group textarea{
    height:300px;
    width:100%;
    resize:none;
    border:1px solid #ccc;
    border-radius:10px;
}

section .contact-me .right .from-group textarea:focus{
    outline:none;
    border:1px solid #719ECE;
    box-shadow:0 0 10px #719ECE;
}

section .contact-me .right button{
    width:100%;
    padding:1rem;
    background-color:#f78b00;
    border:none;
    color:white;
    border-radius: 5px;
}