section .portfolio-me::after{
    content:"";
    display:block;
    clear:both;
  }

section .portfolio-me .portfolio-inner{
    width:30%;
    margin-right: 5%;
    background-color: #fff;
    float: left;
    padding:1rem 1rem 1.5rem 1rem;
    border: 1px solid #CCC;
    margin-bottom: 3rem;
}

section .portfolio-me .portfolio-inner:nth-child(3n){
    margin-right: 0;
}

section .portfolio-me .portfolio-inner img{
    width: 100%;
    display: block;
}

section .portfolio-me .portfolio-inner strong{
    color:#fa6a6a;
    margin: 0.5rem 0;
    display: block;
}

section .portfolio-me .portfolio-inner strong{
    font-size:1.75rem;
  }