@charset "utf-8";

html, body{
    margin:0;
    padding:0;
    /* width: 컨텐츠, 마진, 패딩 합쳐서 결정
    card에서는  border 1px 포함되기 때문에 border까지 모두 너비로 계산하도록 설정 */
    box-sizing:border-box;
}
body{
    background-color: #0964a0;
}
/* 기본 배치 : 세로 정렬  */
#container{
    width: 320px;
    margin: 50px auto;
}
.card {
    position:relative; /*부모 쪽 position:relative 지정하면 자식쪽에서 absolute 배치 시 
                        기준이 되는 위치가 변경(브라우저 -> 부모 위치 ) */
    width:300px;
    height:500px;
    margin: 20px 10px;
    border:1px solid #ccc;
    background-color: #fff;
}
.words{
    position:absolute;
    left: 10px;
    top: 300px;
    padding: 10px;
    text-align: center;
}
/* 중복된 부분은 작성하지 않는다!! */
@media screen and (min-width:768px) and (max-width:1719px){
    #container{
        width:570px;
        margin:50px auto;
    }
    .card{
        position:relative;
        width:550px;
        height:250px;
    }
    .words{
        position:absolute;
        left:310px;
        top:50px;
        width:200px;
    }
}  

@media screen and (min-width:1720px){
    #container{
        width: 1716px;  /*1710 -> 1716*/  
    }
    /* card의 크기: width(550) + margin(20) + border(2) =  1716*/
    .card{
        position:relative;
        float:left;
        margin:10px;
        width:550px;
        height:250px;        
    }
    .words{
        position:absolute;
        left:310px;
        top:50px;
        width:200px;
    }
}