@charset "utf-8";
*{
    margin:0;
    padding:0;
    text-decoration: none;
    list-style: none;
}
#shop-body{
    background-color: #e9ecef;
}
.shop-container{
    width:1300px;
    margin:0 auto;
}
/* 상단  gnb 영역  */
#shop-header #shop-header-gnb{
    width: 100%;
    height:36px;
    background-color: #03c75a;
    border-bottom: 1px solid #e8e8e8;
}

#shop-header #shop-header-middle{
    width:100%;
    height:66px;    
    background-color: #03c75a;
}
#shop-header nav{
    width:100%;
    border-top:solid 1px #e8e8e8;
    border-bottom: solid 1px #e8e8e8;
    background-color: #fff;;
}
/* nav 메뉴를 가로로 정렬 */
#shop-header nav ul{
    display:flex;
    flex-wrap:wrap;
    align-items: center;
    padding: 13px 0 8px 0;
}
#shop-header nav ul li{
    margin-right: 16px;
}

/* list-item box 생성 */
#shop-main .list-item{
    width:308px;
    height:496px;
    /* background-color:#03c75a; */
    margin-bottom:20px;
    position:relative; 
   /* 3번째 박스 absolute 배치를 위해 저정 */
}
/* list-item 정렬 */
#shop-main .list-wrap{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}



/******* 두 번째 박스 : 이미지 채우기 *******/
.w-100{
    width:100%;
}
.h-100{
    height:100%;
}
#shop-main .list-item .banner img{
    width:100%;
    height:100%;
}

