/* portfolio.css */
/* clear 속성으로 float 속성값 해제*/
/* 제목은 다른 섹션 영역과 같음 */
/* 본문도 세부 디자인은 조금 다르지만, 레이아웃은 What I Do 영역의 본문과 같습니다. 
하나의 사각형 코드를 작성하고, 이를 복사해서 붙여 넣으면 됩니다. */
section.portfolio::after{
  content:"";
  display:block;
  clear:both;
}
/* portfolio-inner 사각형 꾸미기 */
/*  portfolio-inner 클래스를 선택자로 지정해 사각형 형태로 꾸며 줍니다. 
이때 사각형의 너비와 여백을 지정하면 영역의 기준 너비와 사각형의 너비를 계산해 기준 너비를 초과할 경우 자동으로 줄 바꿈합니다. 그리고 사각형들이 수평으로 배치되도록 float 속성을 left로 지정합니다. float 속성과 항상 함께 사용해야 하는 clear 속성까지 적용합니다. */
section.portfolio .portfolio-inner{
  width:30%;
  margin-right:5%;
  padding:1rem 1rem 1.5rem 1rem;
  float:left;
  background-color:#f8f8f8;
  border:1px solid #ccc;
  margin-bottom:3rem;
}
/* 3번째마다 margin-right 0 적용 */
section.portfolio .portfolio-inner:nth-child(3n){
   margin-right:0;
}

/* 사각형에 넣을 이미지와 텍스트의 크기, 여백을 지정 */
/* 이미지의 크기가 부모 요소를 넘지 않도록 100%로 지정 */
section.portfolio .portfolio-inner img{
  width:100%;
  display:block;
}
/* strong 태그 색상과 간격 */
section.portfolio .portfolio-inner strong{
  color:#ff6a6a;
  margin:0.5rem 0;
  display:block;
}
/* h3 태그 색상과 간격 */
section.portfolio .portfolio-inner h3{
  font-size:1.75rem;
}
/* End portfolio.css */