:root {
    --text-color: #f0f4f5;
    --background-color: #263343;
    --accent-color: #d46f66;
}

/* slideimages */

.container_2 {
    width: 1024px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.slideimages {
    position: relative;
    width: 3072px;
    display: flex;
    transition: all 0.2s ease-in-out;
}

.slideimages__button__box {
    width: 1024px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.slideimages__button {
    width: 50px;
    height: 10px;
    margin: 10px 3px;
    cursor: pointer;
}

.movielist {
    width: 1024px;
    float: left;
}






