@charset "utf-8";

html, body {
    margin: 0 auto;
    padding: 0;
}

ul {
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

/* li:before {
    content: "☞ "
} */

/* li:after {
    content: " |"
} */

/* li:last-child::after{
    content:"";
} */

.menu li {
    /* display: inline-block; */
    /* 메뉴 사이 공백이 생김 */
    float: left;
    width: 150px;
    /* height: 50px; */
    background-color: blue;
    text-align: center;
    /* line-height: 50px; */
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid red;
    color: white;
}

.menu ul {
    background-color: yellowgreen;
    overflow: hidden;
}

.menu li a {
    display: block;
}

.menu li a:hover {
    color: red;
}